@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
.alll{

	background-color: #161E36;


}

body{
	background-color: #0C1220;
}
.Social{
	
	color: white;
}
.Total{

	color: #82899A;
}
.Dark{

	 color: white;
	}

.facebook{

	background-color: #192642;


}



.nathanf{

color: #D8DDEB;

}
.secondfirst:hover{
background-color: #46495B;
}
.secondfirst11:hover{
background-color: #46495B;
}
.youtube:hover{
background-color: #46495B;
}
.facebook:hover{
background-color: #46495B;
}
.instagram:hover{
background-color: #46495B;
}
.twitter:hover{
background-color: #46495B;
}
.cifer{
	color: white;
}
.Followers{
		color: #D8DDEB;
}
.Today{

		color: #D8DDEB;
}
.twitter{

	background-color: #192642;
}
.instagram{
	background-color: #192642;
}
.Today{

	color:#5ED152;
}
.Today1{
	color:#CA0000;
}


.youtube{

	background-color: #192642;
}

.second{
	color: white;
}
.secondfirst{
	background-color: #192642;
}
.secondfirst11{
	background-color: #192642;
}
color: #D8DDEB;
}
.PageViews2{

color: #D8DDEB;
}
.PageViews{
color: #D8DDEB;
}
.percentof11{
	color: #5ED152;
}
.percentof12{
	color:#CA0000;
}
.third{
	position: absolute;
	top: 650px;
	margin: 0 220px;
	width: 1110px;
	height:115px ;
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	color: white;
	border-radius: 8px;
}
.Overview{
	position: absolute;
	top: 440px;
	margin: 0 220px;
	font-size: 35px;
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	 color: white;
}
.changeTheme[data-theme="light"]{
	display: block;
}
.changeTheme[data-theme="dark"]{
	display: none;
}